services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./frontend:/app/frontend
      - ./app:/app/app
      - ./tests:/app/tests
    restart: unless-stopped
